<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mixone.portal.admin.app.mapper.ApplicationMapper">
  <resultMap id="BaseResultMap" type="com.mixone.portal.admin.app.model.Application">
    <id column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="APP_NAME" jdbcType="VARCHAR" property="appName" />
    <result column="APP_CODE" jdbcType="VARCHAR" property="appCode" />
    <result column="APP_ICON_URL" jdbcType="VARCHAR" property="appIconUrl" />
    <result column="APP_URL" jdbcType="VARCHAR" property="appUrl" />
    <result column="APP_DEVELOPER" jdbcType="VARCHAR" property="appDeveloper" />
    <result column="IS_ADMIN" jdbcType="VARCHAR" property="isAdmin" />
    <result column="ORDER_INDEX" jdbcType="INTEGER" property="orderIndex" />
    <result column="CURRENT_STATUS" jdbcType="CHAR" property="currentStatus" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="CREATED_USER_LOGIN" jdbcType="VARCHAR" property="createdUserLogin" />
    <result column="LAST_UPDATED_TIME" jdbcType="TIMESTAMP" property="lastUpdatedTime" />
    <result column="LAST_UPDATED_USER_LOGIN" jdbcType="VARCHAR" property="lastUpdatedUserLogin" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    APP_ID, APP_NAME, APP_CODE, APP_ICON_URL, APP_URL, APP_DEVELOPER, IS_ADMIN, ORDER_INDEX, 
    CURRENT_STATUS, CREATED_TIME, CREATED_USER_LOGIN, LAST_UPDATED_TIME, LAST_UPDATED_USER_LOGIN
  </sql>
  <select id="selectByExample" parameterType="com.mixone.portal.admin.app.model.ApplicationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MO_APPLICATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MO_APPLICATION
    where APP_ID = #{appId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from MO_APPLICATION
    where APP_ID = #{appId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mixone.portal.admin.app.model.ApplicationExample">
    delete from MO_APPLICATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mixone.portal.admin.app.model.Application">
    insert into MO_APPLICATION (APP_ID, APP_NAME, APP_CODE, 
      APP_ICON_URL, APP_URL, APP_DEVELOPER, 
      IS_ADMIN, ORDER_INDEX, CURRENT_STATUS, 
      CREATED_TIME, CREATED_USER_LOGIN, LAST_UPDATED_TIME, 
      LAST_UPDATED_USER_LOGIN)
    values (#{appId,jdbcType=VARCHAR}, #{appName,jdbcType=VARCHAR}, #{appCode,jdbcType=VARCHAR}, 
      #{appIconUrl,jdbcType=VARCHAR}, #{appUrl,jdbcType=VARCHAR}, #{appDeveloper,jdbcType=VARCHAR}, 
      #{isAdmin,jdbcType=VARCHAR}, #{orderIndex,jdbcType=INTEGER}, #{currentStatus,jdbcType=CHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{createdUserLogin,jdbcType=VARCHAR}, #{lastUpdatedTime,jdbcType=TIMESTAMP}, 
      #{lastUpdatedUserLogin,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mixone.portal.admin.app.model.Application">
    insert into MO_APPLICATION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        APP_ID,
      </if>
      <if test="appName != null">
        APP_NAME,
      </if>
      <if test="appCode != null">
        APP_CODE,
      </if>
      <if test="appIconUrl != null">
        APP_ICON_URL,
      </if>
      <if test="appUrl != null">
        APP_URL,
      </if>
      <if test="appDeveloper != null">
        APP_DEVELOPER,
      </if>
      <if test="isAdmin != null">
        IS_ADMIN,
      </if>
      <if test="orderIndex != null">
        ORDER_INDEX,
      </if>
      <if test="currentStatus != null">
        CURRENT_STATUS,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="createdUserLogin != null">
        CREATED_USER_LOGIN,
      </if>
      <if test="lastUpdatedTime != null">
        LAST_UPDATED_TIME,
      </if>
      <if test="lastUpdatedUserLogin != null">
        LAST_UPDATED_USER_LOGIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appCode != null">
        #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="appIconUrl != null">
        #{appIconUrl,jdbcType=VARCHAR},
      </if>
      <if test="appUrl != null">
        #{appUrl,jdbcType=VARCHAR},
      </if>
      <if test="appDeveloper != null">
        #{appDeveloper,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null">
        #{isAdmin,jdbcType=VARCHAR},
      </if>
      <if test="orderIndex != null">
        #{orderIndex,jdbcType=INTEGER},
      </if>
      <if test="currentStatus != null">
        #{currentStatus,jdbcType=CHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserLogin != null">
        #{createdUserLogin,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedTime != null">
        #{lastUpdatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedUserLogin != null">
        #{lastUpdatedUserLogin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mixone.portal.admin.app.model.ApplicationExample" resultType="java.lang.Long">
    select count(*) from MO_APPLICATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update MO_APPLICATION
    <set>
      <if test="record.appId != null">
        APP_ID = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.appName != null">
        APP_NAME = #{record.appName,jdbcType=VARCHAR},
      </if>
      <if test="record.appCode != null">
        APP_CODE = #{record.appCode,jdbcType=VARCHAR},
      </if>
      <if test="record.appIconUrl != null">
        APP_ICON_URL = #{record.appIconUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.appUrl != null">
        APP_URL = #{record.appUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.appDeveloper != null">
        APP_DEVELOPER = #{record.appDeveloper,jdbcType=VARCHAR},
      </if>
      <if test="record.isAdmin != null">
        IS_ADMIN = #{record.isAdmin,jdbcType=VARCHAR},
      </if>
      <if test="record.orderIndex != null">
        ORDER_INDEX = #{record.orderIndex,jdbcType=INTEGER},
      </if>
      <if test="record.currentStatus != null">
        CURRENT_STATUS = #{record.currentStatus,jdbcType=CHAR},
      </if>
      <if test="record.createdTime != null">
        CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdUserLogin != null">
        CREATED_USER_LOGIN = #{record.createdUserLogin,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdatedTime != null">
        LAST_UPDATED_TIME = #{record.lastUpdatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdatedUserLogin != null">
        LAST_UPDATED_USER_LOGIN = #{record.lastUpdatedUserLogin,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update MO_APPLICATION
    set APP_ID = #{record.appId,jdbcType=VARCHAR},
      APP_NAME = #{record.appName,jdbcType=VARCHAR},
      APP_CODE = #{record.appCode,jdbcType=VARCHAR},
      APP_ICON_URL = #{record.appIconUrl,jdbcType=VARCHAR},
      APP_URL = #{record.appUrl,jdbcType=VARCHAR},
      APP_DEVELOPER = #{record.appDeveloper,jdbcType=VARCHAR},
      IS_ADMIN = #{record.isAdmin,jdbcType=VARCHAR},
      ORDER_INDEX = #{record.orderIndex,jdbcType=INTEGER},
      CURRENT_STATUS = #{record.currentStatus,jdbcType=CHAR},
      CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
      CREATED_USER_LOGIN = #{record.createdUserLogin,jdbcType=VARCHAR},
      LAST_UPDATED_TIME = #{record.lastUpdatedTime,jdbcType=TIMESTAMP},
      LAST_UPDATED_USER_LOGIN = #{record.lastUpdatedUserLogin,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mixone.portal.admin.app.model.Application">
    update MO_APPLICATION
    <set>
      <if test="appName != null">
        APP_NAME = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appCode != null">
        APP_CODE = #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="appIconUrl != null">
        APP_ICON_URL = #{appIconUrl,jdbcType=VARCHAR},
      </if>
      <if test="appUrl != null">
        APP_URL = #{appUrl,jdbcType=VARCHAR},
      </if>
      <if test="appDeveloper != null">
        APP_DEVELOPER = #{appDeveloper,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null">
        IS_ADMIN = #{isAdmin,jdbcType=VARCHAR},
      </if>
      <if test="orderIndex != null">
        ORDER_INDEX = #{orderIndex,jdbcType=INTEGER},
      </if>
      <if test="currentStatus != null">
        CURRENT_STATUS = #{currentStatus,jdbcType=CHAR},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserLogin != null">
        CREATED_USER_LOGIN = #{createdUserLogin,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedTime != null">
        LAST_UPDATED_TIME = #{lastUpdatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedUserLogin != null">
        LAST_UPDATED_USER_LOGIN = #{lastUpdatedUserLogin,jdbcType=VARCHAR},
      </if>
    </set>
    where APP_ID = #{appId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mixone.portal.admin.app.model.Application">
    update MO_APPLICATION
    set APP_NAME = #{appName,jdbcType=VARCHAR},
      APP_CODE = #{appCode,jdbcType=VARCHAR},
      APP_ICON_URL = #{appIconUrl,jdbcType=VARCHAR},
      APP_URL = #{appUrl,jdbcType=VARCHAR},
      APP_DEVELOPER = #{appDeveloper,jdbcType=VARCHAR},
      IS_ADMIN = #{isAdmin,jdbcType=VARCHAR},
      ORDER_INDEX = #{orderIndex,jdbcType=INTEGER},
      CURRENT_STATUS = #{currentStatus,jdbcType=CHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      CREATED_USER_LOGIN = #{createdUserLogin,jdbcType=VARCHAR},
      LAST_UPDATED_TIME = #{lastUpdatedTime,jdbcType=TIMESTAMP},
      LAST_UPDATED_USER_LOGIN = #{lastUpdatedUserLogin,jdbcType=VARCHAR}
    where APP_ID = #{appId,jdbcType=VARCHAR}
  </update>
</mapper>